css
/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

/* Body */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Layout */
header, main, footer {
    width: 840px;
    margin: 0 auto;
}


/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* Headings */
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Content Spacing */
nav, p, section, article {
    margin: 16px;
    padding: 8px;

}

/* Hero Section */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgb(255, 255, 255, 0.85);
    padding: 1rem;
    border-radius: 8px;
    max-width: 400px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 1rem;
    border-radius: 8px;
}

/* Footer */
footer {
    display: flex;
    justify=content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 5px; !important; /* Force override  */
    height: 5px; !important;
    display: inline-block;
}